<header class="header">
	<div class="header__inner">

		<a href="{{ site.baseurl }}/" class="header__title">
			{{ site.data.settings.basic_settings.site_title }}
		</a>

		<nav class="nav">
			<button class="nav__toggle js-menu-toggle" aria-label="Toggle menu">
				<div class="nav__toggle__icon"><span></span></div>
			</button>
			<div class="nav__wrap">
				<ul class="nav__list">
					{% for item in site.data.settings.menu_settings.menu_items %}
					<li class="nav__list__item">
						<a href="{{ item.url | relative_url }}" class="nav__list__item__link">{{ item.title }}</a>
					</li>
					{% endfor %}
					<li class="nav__list__item nav__list__item--separator">
						<a href="{{ site.baseurl }}/NickKaiserNotes/" class="nav__list__item__link nav__list__item__link--accent">Nick Kaiser Lectures</a>
					</li>
				</ul>
				<div class="nav__socials">
					{% include socials.html %}
				</div>
			</div>
		</nav>

	</div>
</header>
