<header class="site-header" role="banner">
  <div class="wrapper">
    <!-- Site title (shown on non-home pages) -->
    {% if page.layout != 'home' %}
      <a class="site-title" href="{{ "/" | absolute_url }}">
        <!-- Add profile photo next to the site title -->
        <img src="{{ "/assets/images/zzhang1.jpg" | relative_url }}" alt="Zheng Zhang's Photo" class="header-photo">
        {{ site.title | escape }}
      </a>
    {% endif %}

    <!-- Navigation Bar -->
    {% assign default_refs = site.pages | sort:"order" | map: "ref" %}
    {% assign page_refs = site.header_page_refs | default: default_refs %}

    <nav class="site-nav">
      <input type="checkbox" id="nav-trigger" class="nav-trigger" />
      <label for="nav-trigger" class="menu-icon">
        <span>
          <svg viewBox="0 0 24 18" width="24px" height="18px">
            <path fill="#333" d="M24 1.5A1.5 1.5 0 0 1 22.5 3h-21A1.5 1.5 0 0 1 0 1.5h24zM24 7.5A1.5 1.5 0 0 1 22.5 9h-21A1.5 1.5 0 0 1 0 7.5h24zM24 13.5A1.5 1.5 0 0 1 22.5 15h-21A1.5 1.5 0 0 1 0 13.5h24z"/>
          </svg>
        </span>
      </label>

      <div class="nav-links-container">
        <ul class="nav-links">
          <!-- Navigation links pointing to separate pages -->
          {% for ref in page_refs %}
            {% assign my_page = site.pages | where: "ref", ref | first %}
            {% if my_page.title and my_page.title != "404" %}
              <li><a class="page-link" href="{{ my_page.url | absolute_url }}">{{ my_page.title | escape }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </nav>
  </div>
</header>