<header class="header">
	<div class="header__inner">

		<a href="{{ site.baseurl }}/NickKaiserNotes/" class="header__title">
			Nick Kaiser
		</a>

		<nav class="nav">
			<button class="nav__toggle js-menu-toggle" aria-label="Toggle menu">
				<div class="nav__toggle__icon"><span></span></div>
			</button>
			<div class="nav__wrap">
				<ul class="nav__list">
					{% for note in site.NickKaiserNotes reversed %}
					<li class="nav__list__item">
						<a href="{{ note.url | relative_url }}" class="nav__list__item__link">{{ note.title }}</a>
					</li>
					{% endfor %}
					</ul>
			</div>
		</nav>

	</div>
</header>

<div class="nk-header-info">
	<div class="nk-portrait">
		<img src="/images/Nick.jpg" alt="Nick Kaiser">
	</div>
	<h2 class="nk-header-info__title">Nick Kaiser</h2>
	<p class="nk-header-info__dates">15 September 1954 &mdash; 13 June 2023</p>
</div>
