<header class="header">

	<div class="header-image header-image--on" style="background-image: url({{ page.featured_image | relative_url }});"></div>
	<div class="header-image"></div>

	<div class="header-overlay"></div>

	<div class="header__content">

		{% if site.data.settings.header_settings.logo_image %}
		<a href="{{ site.baseurl }}/" class="header__logo">
			<img src="{{ site.data.settings.header_settings.logo_image | relative_url }}" class="header__logo__img">
		</a>
		{% else %}
		<a href="{{ site.baseurl }}/NickKaiserNotes/" class="header__title">
			{{ "Nick Kaiser" }}
		</a>
		{% endif %}

		<p class="header__tagline">{{"Online archive of lecture notes given by Nick Kaiser." }}</p>

		

		<div class="menu">
			<div class="menu__toggle js-menu-toggle">
				<div class="menu__toggle__icon"><span></span></div>
			</div>
			<div class="menu__wrap">
				<ul class="menu__list">
					{% for project in site.NickKaiserNotes reversed %}
					<li class="menu__list__item">
						<a href="{{ project.url | relative_url }}" class="menu__list__item__link">{{ project.title }}</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>

		<!-- Add extra space -->
		<br> 
		<br> 
		
		<a href="{{ site.baseurl }}/" class="header__title">
			{{ "Maintainer: Zheng Zhang" }}
		</a>


	</div>

</header>