// - - - - - - - - - - - - - - - - - -

// Mermaid Diagram Styling

// - - - - - - - - - - - - - - - - - -

.mermaid-wrap {
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	margin: var(--space-6) auto var(--space-8);
	max-width: 80%;

	@include mq(desktop) {
		max-width: 75%;
	}
}

.mermaid-wrap svg {
	display: block;
	height: auto;
	margin: 0 auto;
}

.flex-center {
	display: flex;
	justify-content: center;
	padding: 20px;
}

.mermaid {
	flex-basis: 50%;
	min-width: 300px;
	max-width: 600px;
}
